/* 
    Document   : main
    Created on : May 2, 2015, 7:07:05 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/


html{

    top: 0px;
    visibility: visible;
    display: block;
    zoom: 1;
    opacity: 1;
    left: 0px;
    background-image: url(../img/g_back.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background: url(../img/g_back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body{
    background: none !important;
}

#container{
    background: rgba(255,255,255,0.4);
}

#top{
    width: 1000px;
    margin-left: auto;margin-right: auto;
    padding: 20px;
}

#down{
    margin-top: 5px;
    width: 1000px;
    margin-left: auto;margin-right: auto;
    padding: 20px;
}

.surround{
    background: rgba(255,255,255,0.4);
    padding: 30px;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
}

.surround_r{
    background: rgba(255,255,255,0.4);
    margin: 20px;
    padding: 20px;
}

.surround-right{
    background: rgba(255,255,255,0.4);
    padding: 30px;
    float:right;
    margin-left: 10px;
    margin-right: 10px;
}

#pant{
    background: none !important;
}

tr.ui-widget-content.ui-datatable-even {
    background: rgba(255,255,255,0.5) !important;
}

tr.ui-widget-content.ui-datatable-even:hover {
    background: rgba(205,205,205,0.5) !important;
}

tr.ui-widget-content.ui-datatable-odd {
    background: rgba(240,240,240,0.3) !important;
}

tr.ui-widget-content.ui-datatable-odd:hover {
    background: rgba(205,205,205,0.5) !important;
}

.table tbody{
    background: none !important;
}

.clear{
    clear:both;
}

.head_r{
 
    width: 100%;
    background: url(../img/header_r.png) left top no-repeat, url(../img/right_r.png) left top repeat-x;

}

a {
    color: #1d6fb6;
}